@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clipHome {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%);
  }
  .clipSkill1 {
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  }

  .clipSkill2 {
    clip-path: polygon(0 8vw, 100% 0, 100% 100% , 0 100%);
  }

  .clipHome2 {
    clip-path: polygon(0 8vw, 100% 0, 100% calc(100% - 8vw), 0 100%);
  }

  .skillShadow {
    box-shadow: rgba(100, 100, 111, 0.2) 2px 7px 39px 2px;
  }
  
}
